@import 'colors';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: $light;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;

  &__logo {
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align-center;
  }
  &__bars {
    opacity: 0;

    @include tablet {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    @include tablet {
      display: none;
    }

    &--links {
      color: $dark;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: $lime;
        transition: all 0.3s ease;
      }
    }

    #button {
      padding: 12px 24px;
      border: none;
      outline: none;
      border-radius: 4px;
      background: $lime;
      margin-left: 16px;
      color: $light;

      &:hover {
        background: $orangeRed;
        transition: all 0.3s ease;
      }
    }
  }
}
ul{
  display:none;
  list-style-type: none;
  max-height: 40vh;
  width: 100%;
  line-height: 2em;
  font-family: "Poppins";
  margin-right: 15px;
  border-radius: 7px;
  background-color: rgba(0, 255, 0, 0.226);
  
  padding: 1vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
li a{
  font-size: 20px;
  color: $dark;
  text-decoration: none;
  text-shadow: 0 0 2px;
}
.navbar__bars:hover{
  ul{
    display: block;
}
}

 
  



